body {
  --color-white: #fff;
  --color-black: #000;

  --color-bg: #fdfdfd;

  --color-borders: #e9ecef;
  --color-borders-secondary: #e0e0e0;

  --color-text-main: #76787d;
  --color-text-secondary: #333;
  --color-text-accent: #000;

  --color-accent: #e31f24;
}
